*
*::after,
*::before{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    display: none;
}
.navbar {
    & img[alt='logo'] {
        width: 5rem;
    }
}
/* all images */
img {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
}

/* text align center */
:is(h2) {
    text-align: center;
}